<h1>Total Members: <%= @characters.count %></h1>
<% @characters.each do |char| %>
  <h2><%= char.name %></h2>
  <p>Role: <%= char.role %></p>
  <p>House: <%= char.house %></p>
  <p>Patronus: <%= char.patronus %></p>
<% end %>
