<center>
  <h1>Total Members: <%= @characters.count %></h1>
  <section class="characters">
    <% @characters.each do |char| %>
      <h2 class="name"><%= char.name %></h2>
      <p class="role">Role: <%= char.role %></p>
      <p class="house">House: <%= char.house %></p>
      <p class="patronus">Patronus: <%= char.patronus %></p>
    <% end %>
  </section>
</center>
